@keyframes slide-in {
  from {
      transform: translateY(-200px);
      opacity: 0;
  }
  to {
      transform: translateY(0px);
      opacity: 1;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(69 90 100);
  color: black;
  font-family: 'Ubuntu', sans-serif; 
}

.wrapping-container {
  animation: slide-in 3s ease 1s 1 normal forwards;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  min-width: 100vw;
}

#check {
  opacity: 0;
}

.container-for-header {
  text-align: center;
}
.container-for-input {
  transition: .5s;
  position: relative;
  width: 60px;
  height: 60px;
  margin-bottom: 35px;
}
.container-for-results {
  padding-bottom: 35px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
}

.container-for-input label{
  transition: .5s;
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  color: white;
  cursor: pointer;
  box-shadow: -5px -5px 8px #edeff1, 5px 5px 8px #cacfd8;
}
.container-for-input label:hover {
  box-shadow: -10px -10px 15px #edeff1, 10px 10px 15px #cacfd8;
  transform: scale(1.1);
}
.container-for-input input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 18px;
  padding-left: 25px;
  color: rgb(255, 255, 255);
  box-shadow: -5px -5px 10px #edeff1, 5px 5px 10px #cacfd8;
  opacity: 0;
}
.container-for-input input:focus {
  box-shadow: -10px -10px 20px #edeff1, 10px 10px 20px #cacfd8;
}
#check:checked+.container-for-input{
  width: 600px;
}
#check:checked+.container-for-input > input {
  opacity: 1;
}
#check:checked+.container-for-input> label {
  box-shadow: none;
}
#check:checked+.container-for-input > label:hover {
  transform: scale(1);
}

h1 {
  margin-bottom: 35px;
  font-size: 54px;
  font-weight: bold;
  color: white;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox adds a lower opacity to the placeholder, so we use opacity: 1 to fix this. */
}
img {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
img:hover {
  transition: 3s;
  box-shadow: -5px -5px 10px #edeff1, 5px 5px 10px #cacfd8;
  background-color: white;
}